/* start about team  contact */
#news, #team, #contact{
    padding-bottom: 30px; 
    border-bottom: 1px solid #505050;
}

/* end about team  contact */


/* start home */
#home
	{
        background-color: #2873b9;
        background-image: url(../images/back/home-main-bg.jpg), url(../images/back/home-side-bg.jpg), url(../images/back/home-side-bg.jpg);
        background-position: center, 0px 0px,  0px right;
        background-repeat: no-repeat;
        background-size: contain, auto, auto;

        animation: animatedBackground 30s linear infinite;        

        padding-top: 9em;
		height: 650px;

        font-family: Ubuntu;
        font-style: normal;
        
    }
    @keyframes animatedBackground 
        {
            from { background-position: center, 0 100%, 100% 100%}
            to   { background-position: center, 0 0,    100% 0%}
        }
    #home h1
        {
            color: #FFD427;
            text-shadow: 3px 3px 5px black;
            font-family: 'Seymour One', Arial;
            font-weight: 100;
            font-size: 38px;        
        }
.home-row
{
    position: relative;
    top:10em;
}
.home-col
{
    transform: translateY(12em);
}
figcaption
{
    color: #fff;
    font-size: .83em;
    width: 308px;
    padding-left: 0.5em;
}
#logo 
    {   
        
    }
/* end home */

/* start about 329977*/
#news, #gallery
    {
        background-image: url('../images/back/floral.png');
        background-attachment: fixed;
    }
    #news .section-header,
    #gallery .section-header

    {
            background-color: aquamarine;
            border: 20px solid rgba(255,255,255,.5);
            border-radius: 90px;
            margin: 10px 0;
            background-image: url('../images/back/contacts-bg3.png'), url('../images/back/jump.png');
            background-repeat: no-repeat, no-repeat;    
            background-position: 10% 50%, 90% 50%;
        }
        #news .section-header *,
        #gallery .section-header *
            {
                text-shadow: 1px 1px 3px #006F4B;
            }
    #gallery .section-header-text,
    #news .section-header-text
        {
            color: #00458D;
        }
    .media
        {
            min-height: 300px;
            background-color: #e0ffff;
            border:1px solid #00FFAB;
            border-radius: 5px;    
            padding-bottom: 10px;
        }
    .media-heading
        {
            font-size: 1.5em;
            font-weight: bold;
            font-family: 'Ubuntu';
            padding-top: 20px;
            padding-left: 52px;
            color: #1387FF;            
        }
    .media-body
        {
            padding-right: 30px;
            font-family: 'Scada', sans-serif;
            line-height: 1.8em;
            letter-spacing: 0.4px;
            font-size: 15px;
            color: #333;
        }
    #news .media-heading-wrapper
        {
            padding-bottom: 15px;
        }
        #news .media-heading-wrapper .fa
            {
                font-size: 26px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                margin: 5px 15px 15px 5px;
            }
                #news .media-heading-wrapper .fa-key,
                #news .media-heading-wrapper .fa-gift
                    {
                      color: #FF5600;
                    }
                #news .media-heading-wrapper .fa-users
                    {
                        color: orchid
                    }
                #news .media-heading-wrapper .fa-thumbs-up
                    {
                        color: #FFB954;
                    }
/* end about */

/* start team */
#team
    {
        background-color: #f4eacd;
        background-image: url('../images/back/service-bg.gif');
        background-repeat: repeat-x;    
        background-blend-mode: normal;
    }
    #team .section-header
        {
            background-image: url('../images/back/team-bg.png'), url('../images/back/star_swim.gif');;
            background-repeat: no-repeat, no-repeat;    
            background-position: 10%  50%, 90% 50%;
        }
    #team .section-header-text
        {
            color: #635378;
            text-shadow: 2px 2px 4px #eeeeef;
        }
    #team .team-wrapper
        {
            background: #fffbf0;
            padding: 20px;
            margin-top: 30px;
            border-radius: 15px;
            color: #333;
        }
    #team .section-subtitle
        {
            font-size: 1.3em;    
            text-transform: uppercase;
        }
/* end team */


/* start contact */
#contact
	{
		background: #fff;
        background-image: url('../images/back/contacts-bg.gif'), url('../images/back/contacts-bg2.jpg');
        background-repeat: repeat-x, no-repeat;
        background-attachment: scroll ;
        background-position: 0% 0%, 0% 100%;		
	}
    #contact .section-header
        {
            background-image: url('../images/back/kids_pool_sun_glasses.png'), url('../images/back/baby_pool_sun_glasses.png');
            background-repeat: no-repeat, no-repeat;    
            background-position: 10% 50%, 90% 50%;
            margin-bottom: 40px;
            line-height: 6em;
        }
    #contact .section-header-text
        {
            text-shadow: 2px 2px 3px #333;
        }
    #contact address .address-title
        {
            font-weight: bold;
            font-size: 1.5em;
            padding-bottom: 10px;
        }
    #contact address p, #contact .adress
        {
            text-align: right;
        }
    #contact .adress
    {
        margin: 0 0 10px;
    }
    #contact .fa
        {
            font-size: 1.5em;
        }
    #contact address .fa
        {
            border-radius: 2px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            color:#0580f2;
            border: 1px solid #aaa;
        }
    #contact a[href^="mailto:"]
        {
            color: #333;
        }    
    .adress-inner
    {        
        display: inline-block;
    }
    .phone-numbers{
        position: relative;
        top: .5em;     
    }
    .phone-numbers>a[href^="tel:"]
        {
            text-decoration: underline;
            color: #333;
        }
/* end contact */

/* start construct */
#construct
	{
        background-color: #2873b9;
        background-image:  url(../images/back/construct.png), url(../images/back/2.jpg) ;
        background-size:  auto, cover;
        background-repeat: no-repeat;
        background-position: 95% 95%;
		height: calc(100vh -  130px);
        font-family: Ubuntu;
    }
    #construct .container
        {
            position: relative;
            top: calc( 50% - 2em);
        }
    #construct .text
        {
            color: yellow;
            font-size: 2em;
            text-align: center;
            text-shadow: 1px 1px 3px #222;
        }
        #construct .text p
            {
                margin-bottom: 1em;
                font-weight: 600;
            }
        #construct .text a
            {
                color: #f8d800;
                text-decoration: none;
        -webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
                padding: 13px;
                border-radius: 5px;
                border: 1px solid #f8d800;                
            }
        #construct .text a:hover
            {
                color: #2873b9;
                background-color: #f8d800;
                text-shadow:none;
            }
/* end construct */
/* start gallery section */
.gallery-picture-container
{
    margin-bottom: 1em;
}
.gallery-picture
{
    display: block;
    margin: auto;
}
/* end gallery section */
/* start 980 media quires */
@media only screen and ( max-width: 980px ) {
	#team .team-wrapper{
        margin-top: 40px;
    }
}
/* end 980 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 767px ) {
	#home{
        min-height: 300px;
        padding-top: 10em;
	}
	#home h1{
        font-size: 23px;
    }
  .home-row {
      position: inherit;
    }
}
/* end 768 media quires */
/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	#home{
        min-height: 200px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
	#home h1{
        font-size: 16px;
    }
}
/* end 360 media quires */

@media only screen and (max-width: 1199px) and (min-width: 992px)
{
    #home{
        background-image: url(../images/back/home-main-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: none;
    }
    #home .container{
        width: 100%;
    }
    figcaption{
        padding-left: 1.4em;
    }
    /* start news section*/
    #news .media-body
    {
        padding-left: 30px;
    }
    #news .media-heading-wrapper{
        min-height: 90px;
    }
    /* end news section*/
    /* start team section*/
    #team .section-header{
        background-position: 5%  50%, 95% 50%;
    }    
    /* end team section*/
    #contact{
        background-image: url('../images/back/contacts-bg.gif'), url('../images/back/contacts-bg2-mid.jpg');
        background-position: 0% 0%, 10% 100%;		
	}
}
@media only screen and (max-width: 991px) and (min-width: 767px)
{
    #home
    {        
        background-image: url(../images/back/home-main-bg_mid.jpg), 
                          url(../images/back/home-top-bg_mid.jpg), 
                          url(../images/back/home-top-bg_mid.jpg);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain,auto;
        animation: animatedBackground-lowRes 10s linear infinite;        

    }
    @keyframes animatedBackground-lowRes
        {
            from { background-position:center, 0 -55%, 0 100%}
            to   { background-position:center, 0   0%, 0 155%}            
        }
    .section-header-text
    {
        font-size: 34px;
    }
    /* start home section*/ 
    #home .container
    {
        width: 100%;
    }
    #logo img
    {
        width: 250px;
    }    
    .home-col
    {
        transform: translateY(9em);        
    }
    #home h1
    {
        font-size: 28px;
    }
    figcaption
    {
        padding-left: 1.4em;
    }
    /* end home section*/ 
    
    /* start news section*/
    #news .media-body
    {
        padding-left: 30px;
    }
    #news .section-header,
    #gallery .section-header,
    #team .section-header
    {
        background-position: 0% 50%, 100% 50%;        
    }
    #contact
	{
        background-image: url('../images/back/contacts-bg.gif'), url('../images/back/contacts-bg2-mid.jpg');
        background-position: 0% 0%, 10% 100%;		
	}
    #contact .adress
    {
        position: relative;
        padding-right: 56px;
        text-align: right;
        margin: 0 0 10px;
    }
    #contact .contact-icon
    {
        position: absolute;
        bottom: -15px;
        left: 295px;
    }        
}
@media only screen and (max-width: 766px)
{
    #home
    {        
        background-image: url(../images/back/home-main-bg_sm.jpg), 
                          url(../images/back/home-top-bg_sm.jpg), 
                          url(../images/back/home-top-bg_sm.jpg);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: containauto;        
        animation: animatedBackground-lowRes 10s linear infinite;        

    }
        @keyframes animatedBackground-lowRes
        {
            from { background-position:center, 0 -20%, 0 100%}
            to   { background-position:center, 0   0%, 0 120%}            
        }
        .logo-col
        {            
            transform: translateY(16em);
        }
        .home-col
        {
            transform: translateY(-19em);
        }
        #home img
        {
            height: 200px;
        }
    .section-header-text
        {
            font-size: 4em;
        }
    /* start news section */
    #news, #gallery
    {
        padding-bottom: 10px ;
    }
    #news .section-header,
    #gallery .section-header
        {
            background-image: none;             
            border: none;
            padding: 5px;
        }    
        .media {
            min-height: inherit;
            border-radius: 8px;
            padding-bottom: 0px;
        }
        .col-md-4:not(:last-of-type) {
            margin-bottom: 10px;            
        }
    /* end news section */
    #gallery
    {
        padding-top: 8em ;
    }
    /* start team section */
    #team
    {
        padding-bottom: 10px ;
    }
    #team .section-header
        {
            background-image: none; 
            padding-bottom: 10px ;
        }
    /* end team section */
    /* start contact section*/
    #contact
        {
            background-image: url('../images/back/contacts-bg.gif');
        }
        #contact .section-header
            {
                background-image: none;
                padding-bottom: 10px ;
            }
        #contact .social-icon    
            {
                margin-bottom: 20px;
                font-size: 1.5em;
            }
        #contact address .address-title
            {
                font-size: 2em;
            }
        #contact .adress
            {
                font-size: 1.2em;
                margin: 0 0 10px;                
            }
        #contact address .fa 
            {
                border-radius: 5px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                border: 2px solid #aaa;
            }
        #contact address a:hover .fa
            {
                font-size: 2em;
            }
        #contact .social-icon li a
            {
                border-radius: 14px;
                color: #fff;
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
        #contact .social-icon li a:hover
            {
                color: #28a7e9;
                background: #eeeeee;
                border-color: transparent;
            }     
        #contact .social-icon li:not(:last-of-type) a
            {
                margin-right: 60px;                
            }
    /* end contact section*/
}
@media only screen and (max-width: 370px)
{
    .media-body{
        padding-left: 2em;
    }
}