body
	{ 	
        color: #000;
		font-family: 'UbuntuMedium', 'Open Sans', sans-serif;
		font-weight: 300;
		overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
	}
	
a {
	color: #47C6F8;
}
	
a:hover {
	color: #0FF;
}

/* start h2 */
h2
	{
		text-align: center;
		font-size: 40px;
		padding-bottom: 20px;
	}	
/* end h2 */

/* start about team service portfolio contact */
#news, #team, #service,
#portfolio, #contact
	{
		padding-bottom: 30px; 
        border-bottom: 1px solid #505050;
	}
.section-header
    {
        padding-top: 25px;
        padding-bottom: 35px;
    }
/* end about team service portfolio contact */

/* start preloader */
.preloader
	{
		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		z-index: 99999;
  		display: -webkit-box;
  		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
  		-webkit-flex-flow: row nowrap;
  		    -ms-flex-flow: row nowrap;
  		        flex-flow: row nowrap;
  		-webkit-box-pack: center;
  		-webkit-justify-content: center;
  		    -ms-flex-pack: center;
  		        justify-content: center;
  		-webkit-box-align: center;
  		-webkit-align-items: center;
  		    -ms-flex-align: center;
  		        align-items: center;
  		background: none repeat scroll 0 0 #ffffff;
	}
.sk-spinner-wave.sk-spinner 
	{
  		width: 50px;
  		height: 30px;
  		text-align: center;
  		font-size: 10px; 
  	}
.sk-spinner-wave div 
	{
  		background-color: #333;
  		height: 100%;
  		width: 6px;
  		display: inline-block;
         -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
                 animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
         
    }
.sk-spinner-wave .sk-rect2 
	{
          -webkit-animation-delay: -1.1s;
                  animation-delay: -1.1s; 
      }
.sk-spinner-wave .sk-rect3 
	{
          -webkit-animation-delay: -1s;
                  animation-delay: -1s; 
     }
.sk-spinner-wave .sk-rect4 
	{
          -webkit-animation-delay: -0.9s;
                  animation-delay: -0.9s;
     }
.sk-spinner-wave .sk-rect5 
	{
          -webkit-animation-delay: -0.8s;
                  animation-delay: -0.8s; 
     }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4); }

  20% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1); } }
/* end preloader */

/* start header */
header
	{
        background: #303030;
        color: #fff;
		min-height: 20px;
		padding-top: 18px;
		padding-bottom: 10px;
	}
header .fa
	{
		color: #28a7e9;
	}
header span
	{
		font-weight: bold;
		padding-right: 10px;
		padding-left: 4px;
	}
header a
	{
		color: #999;
		font-weight: 600;
	}
header .social-icon
	{
		text-align: right;
	}
header .social-icon li a
	{
		border: none;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
/* end header */

/* start nagivation */
.navbar-default
	{
		background: #fff;
		border: none;
		box-shadow: none;
		margin: 0 !important;
	}
.navbar-default .navbar-brand
	{
		font-weight: 500;
		font-size: 30px;
		height: 70px;
		line-height: 40px;
		padding: 12px 0px 0px 12px;
	}
.navbar-default .navbar-nav li a
	{
		font-weight: bold;
		font-size: 13px;
		height: 70px;
		line-height: 40px;
	}

.navbar-default .navbar-nav > li > a.current { 
	color: #28A7E9;
    transform: scale(1.1);
}
.navbar-default .navbar-nav li a:hover
{
    color: #28A7E9; 
   filter: brightness(0.5);
}
.templatemo-nav {
	border-radius: 0;	
	width: 100%;
	z-index: 1000;
}
.sticky {	
	position: fixed;
	left: 0;
	top: 0;	
}
/* end navigation */
.textblock
{
        word-spacing: 2px;
        letter-spacing: 0.2px;
        text-align: justify;
        font-size-adjust: 1em;
}
.justify-text
{
    text-align: justify;    
}
/* start home */
#home
	{
        /*
        background: url('../images/back/mainBackgroung.jpg') no-repeat,                   url('../images/back/2.jpg') no-repeat center center fixed;
        
        background-size: contain, cover;
        background-position: center, 0 0 ;
        */
        background-color: #2873b9;
        background-image: url(../images/back/mainBackgroung2.jpg), url(../images/back/2.jpg);
        background-position: center, 0px 0px;
        background-repeat: no-repeat, repeat-x;
        background-size: contain, cover;

        animation: animatedBackground 40s linear infinite;

        padding-top: 9em;
		height: 650px;

        font-family: Ubuntu;
        font-style: normal;
        
}
@keyframes animatedBackground {
	from { background-position: center, 100% 100% }
	to { background-position:  center, 0 0 ; }
}
#home h2
	{
        color: #FFD427;
		font-size: 40px;
		padding-bottom: 10px;
        text-shadow: 3px 3px 5px black;
	}
.home-row
{
    position: relative;
    top:-3em;
}
.home-row_bg
{
    padding-right: 0;
    position: absolute;
    width: 100%;
    height: 124px;
    background-color: #0D4478;
    opacity: .7;
    top: 184px;
    border-radius: 10px;    
}
.home-col
{
        transform: translateY(14em);
}
.home-col p 
{
        font-size-adjust: 1em;
        line-height: normal;
        color: #FFE888;
}
.col-logo 
{
    padding-left: 0;
}
figcaption
{
    /*color: #2873b9;*/
    color: #fff;
    font-size: .83em;
    width: 308px;
    padding-left: 0.5em;
}
#logo 
    {   
        
    }
/* end home */

/* start about */
#news
{
    background-color: aquamarine;
    background-image: url('../images/back/news-bg.gif'), url('../images/back/greyfloral.png');
    background-repeat: repeat-x, repeat;
    background-attachment: scroll ,fixed;
    background-blend-mode: normal, luminosity;
}
#news .section-header *
{
    text-shadow: 3px 3px 5px #FFE0B3;
}
#news h2
{    
    color: darkred;
}
.media
{
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    min-height: 250px;
    background-color: #e0ffff;
    border-radius: 5px;    
}
.media-body
{
    padding-right: 15px;
}
#news .media-heading-wrapper
	{
		padding-bottom: 32px;
	}
#news .media-heading-wrapper .fa
	{
		border: 2px dotted #60B0FD;
		border-radius: 2px;
		color: #fff;
		font-size: 24px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
        margin: 1px 20px 20px 1px;
	}
#news .media-heading-wrapper .fa-key
{
  color: green;
}
#news .media-heading-wrapper .fa-users
{
    color: orchid
}
#news .media-heading-wrapper .fa-thumbs-up
{
    color: #FFB954;
}
#news .media-heading-wrapper h3
	{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 52px;
        color: #0580f2;
	}
/* end about */

/* start team */
#team
{
    background-color: #f4edd8;
    background-image: url('../images/back/service-bg.gif');
    background-repeat: repeat-x;    
    background-blend-mode: normal;
}
#team .section-header
{
    background-image: url('../images/back/star%20swim.gif');
    background-repeat: no-repeat;    
    background-position:90% 50%;
}
#team h2
{
    color: #635378;
    text-shadow: 2px 2px 4px #eeeeef;
}
#team .team-wrapper
	{
		background: #fff;
		padding: 20px;
	}
/* end team */

/* start service */
#service
{
    /*background-color: #f4edd8;F4D7ED*/
    background-color: #b1c8d6;
    background-image:  url('../images/back/skulls.png');
    background-blend-mode: luminosity;
}
#service .section-header
{
    background-image:  url('../images/back/bath.gif'), url('../images/back/baby_pool_sun_glasses.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 10% 50%, 90% 50%;
}
#service h2
{
    color: yellow;
    text-shadow: 2px 2px 4px #222;
}
#service h4
	{
		color: orange;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 14px;
	}
#service p
{
    text-align: justify;

}
/* end service */

/* start portfolio */
#portfolio
	{
		padding-bottom: 80px;
	}
#portfolio .col-md-3
	{
		padding: 0px;
	}
	.portfolio-thumb, 
	.portfolio-overlay {
		max-width: 450px;
	}
#portfolio .portfolio-thumb
	{
		overflow: hidden;
		padding: 0;
		margin: 0 auto;
	}
#portfolio .portfolio-thumb .portfolio-overlay
	{
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 20px 10px 20px 20px;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#portfolio .portfolio-thumb .portfolio-overlay h4
	{
		font-weight: bold;
		padding-bottom: 10px;
	}
#portfolio .portfolio-thumb .portfolio-overlay .btn
	{
		background: none;
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		font-weight: bold;
	}
#portfolio .portfolio-thumb:hover .portfolio-overlay
	{
		cursor: pointer;
		opacity: 0.8;
	}
/* end portfolio */

/* start contact */
#contact
	{
		background: #fff;
        background-image: url('../images/back/contacts-bg.gif'), url('../images/back/contacts-bg2.jpg');
        background-repeat: repeat-x, no-repeat;
        background-attachment: scroll ;
        background-position: 0% 0%, 100% 100%;		
	}
#contact h2
{
    text-shadow: 2px 2px 4px #333;
}
#contact address
	{
		padding-top: 30px;
	}
#contact address .address-title
	{
		font-weight: bold;
		font-size: 20px;
		padding-bottom: 10px;
	}
#contact address span
	{
		display: block;
		padding-bottom: 30px;
	}
#contact address .fa
	{
		border: 1px solid #fff;
		border-radius: 2px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
	}
/* end contact */

/* start copyright */
#copyright
	{
		padding: 20px;
	}
#copyright p
	{
		font-weight: 400;
	}
/* end copyright */

/* start social icon */
.social-icon
	{
		position: relative;
		padding: 0;
		margin: 0;
	}
.social-icon h4
	{
		display: inline-block;
		padding-right: 20px;
	}
.social-icon li
	{
		display: inline-block;
		list-style: none;
	}
.social-icon li a
	{
        background-color: darkcyan;
		border: 1px solid #fff;
		border-radius: 2px;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
		margin-right: 10px;
	}
.social-icon li a:hover
	{
        color: black;
		background: #28a7e9;
		border-color: transparent;
	}
/* end social icon */
}

/* start 980 media quires */
@media only screen and ( max-width: 980px ) {
	#team .team-wrapper
		{
			margin-top: 40px;
		}
}
/* end 980 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 767px ) {
	#home
		{
			min-height: 300px;
			padding-top: 80px;
			padding-bottom: 60px;
		}
	#home h2
		{
			font-size: 23px;
		}
  .home-row {
      position: inherit;
    }
	.templatemo-nav {
		position: fixed;
    	top: 0;
	}
	header {
		margin-top: 70px;
	}
	header .social-icon {
		text-align: left;
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
	}
	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}
}
/* end 768 media quires */

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	header .social-icon
		{
			text-align: left;
		}
	#home
		{
			min-height: 200px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	#home h2
		{
			font-size: 16px;
		}

}
/* end 360 media quires */


@media only screen and (max-width: 1199px) and (min-width: 992px)
{
    #home .container
    {
        width: 100%;
    }
    .home-col p 
    {
        margin: 4px;
    }
    figcaption
    {
        padding-left: 1.4em;
    }
}
@media only screen and (max-width: 991px) and (min-width: 767px)
{
    #home .container
    {
        width: 100%;
    }
    #logo img
    {
        width: 250px;
    }    
    .home-row
    {
        padding-top: 2em;
    }
    .home-col
    {
        transform: translateY(1.5em);
        background-color: rgba(40,115,185,0.7);
    }
    .home-row_bg
    {
        display: none;
    }
        #home h2
    {
        font-size: 32px;
    }
    .nav>li>a
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    figcaption
    {
        padding-left: 1.4em;
    }
}

h2 {
    
}
